<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://vinaydb.documents.azure.com:443/" />
        <add key="accountKey" value="EYgzuS8ewLxvqNwyQ7sWZuB5mBXiBtP53tKLNozA5hATuydE2j9hoe6EEcsbNM1KvRmxU8dNEaBQDMdEteCnLA==" />
      </appSettings>
</configuration>